/*
 * Created by GentlemanW on 2017/11/8.
 */
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  /*color: #333;*/
  font-weight: normal;
  /*font-family: "Microsoft Yahei";*/
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

div {
  font-size: 12px; /* 默认写上dpr为1的fontSize*/
}

[data-dpr="2"] div {
  font-size: 24px;
}

[data-dpr="3"] div {
  font-size: 36px;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #efeff4;
  /*font-size: 60px !important;*/
}

