/*
 * Created by GentlemanW on 2017/11/8.
 */
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  /*color: #333;*/
  font-weight: normal;
  /*font-family: "Microsoft Yahei";*/
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

div {
  font-size: 12px; /* 默认写上dpr为1的fontSize*/
}

[data-dpr="2"] div {
  font-size: 24px;
}

[data-dpr="3"] div {
  font-size: 36px;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #efeff4;
  /*font-size: 60px !important;*/
}

/*
 * scrollbar
 */
/*::-webkit-scrollbar {*/
/*display: none;!*隐藏滚轮*!*/
/*}*/
/*::-webkit-scrollbar-track-piece {*/
  /*background-color: rgba(0, 0, 0, 0);*/
  /*border-left: 1px solid rgba(0, 0, 0, 0);*/
/*}*/
/*::-webkit-scrollbar {*/
  /*width: 5px;*/
  /*height: 13px;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*background-clip: padding-box;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*min-height: 28px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
/*}*/
