/*
 * base      箭头      0    wechatArrow['direction']
 * footer    微信      0    wechatDialog
 *           联系人    0    wechatContact
 *           发现      0    wechatDiscovery
 *           我        0    wechatMe
 * **********
 * discovery 朋友圈    8    wechatCircles
 *           扫一扫    0    wechatScanning2
 *           摇一摇    0    wechatShake
 *           附近的人  0    wechatPeopleAround
 *           漂流瓶    0    wechatDraftBottle
 *           京东购物  2    wechatJD
 *           游戏      4    wechatGame
 *           小程序    0    wechatSmallProgram
 * **********
 * me        钱包      0    wechatWallet
 *           收藏      3    wechatClection
 *           相册      0    icon-wechatPhotos
 *           卡包      2    wechatCardPackage
 *           表情      0    wechatEmoji
 *           设置      0    wechatSettings
 * **********
 * meInfo    二维码    0    icon-wechatQrCode
 *           我        wechatMe
 *           我        wechatMe
 *           我        wechatMe
 *           我        wechatMe
 *           我        wechatMe
*/

@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?8v7fi5');
  src:  url('./icomoon.eot?8v7fi5#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?8v7fi5') format('truetype'),
    url('./icomoon.woff?8v7fi5') format('woff'),
    url('./icomoon.svg?8v7fi5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hyqh';
  src:  url('./HYQiHeiX1-65W.otf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechatDiscovery:before {
  content: "\e900";
}
.icon-wechatDraftBottle:before {
  content: "\e901";
}
.icon-wechatEmoji:before {
  content: "\e902";
  color: #ffcd1d;
}
.icon-wechatJD .path1:before {
  content: "\e903";
  color: rgb(250, 76, 76);
}
.icon-wechatJD .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wechatMe:before {
  content: "\e905";
}
.icon-wechatPeopleAround:before {
  content: "\e906";
}
.icon-wechatPhotos:before {
  content: "\e907";
}
.icon-wechatQrCode:before {
  content: "\e908";
}
.icon-wechatScanning1:before {
  content: "\e909";
}
.icon-wechatScanning2:before {
  content: "\e90a";
}
.icon-wechatSettings:before {
  content: "\e90b";
}
.icon-wechatShake:before {
  content: "\e90c";
  color: #1296db;
}
.icon-wechatSmallProgram:before {
  content: "\e90d";
}
.icon-wechatWallet:before {
  content: "\e90e";
}
.icon-wechatGame .path1:before {
  content: "\e90f";
  color: rgb(26, 250, 41);
}
.icon-wechatGame .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(18, 150, 219);
}
.icon-wechatGame .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(225, 101, 49);
}
.icon-wechatGame .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(239, 179, 54);
}
.icon-wechatAdd:before {
  content: "\e913";
}
.icon-wechatAddFriebnds:before {
  content: "\e914";
}
.icon-wechatArrowLeft:before {
  content: "\e915";
}
.icon-wechatArrowRight:before {
  content: "\e916";
}
.icon-wechatCardPackage .path1:before {
  content: "\e917";
  color: #10aeff;
}
.icon-wechatCardPackage .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: #10aeff;
}
.icon-wechatCircles .path1:before {
  content: "\e919";
  color: rgb(249, 83, 82);
}
.icon-wechatCircles .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(99, 103, 239);
}
.icon-wechatCircles .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(82, 131, 239);
}
.icon-wechatCircles .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 176, 253);
}
.icon-wechatCircles .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(102, 208, 31);
}
.icon-wechatCircles .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(154, 209, 33);
}
.icon-wechatCircles .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 199, 22);
}
.icon-wechatCircles .path8:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 118, 18);
}
.icon-wechatClection .path1:before {
  content: "\e921";
  color: rgb(216, 30, 6);
}
.icon-wechatClection .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(18, 150, 219);
}
.icon-wechatClection .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(239, 179, 54);
}
.icon-wechatContact:before {
  content: "\e924";
}
.icon-wechatDialog:before {
  content: "\e925";
}

/* resize */
.icon-wechatPeopleAround,
.icon-wechatSmallProgram,
.icon-wechatCardPackage {
  transform: scale(.85);
}

.icon-wechatEmoji,
.icon-wechatSettings {
  transform: scale(.9);
}
